node_modules

/.github
/.husky
/coverage
/src
/.c8rc.json
/.editorconfig
/.eslintrc.json
/.eslintignore
/.lintstagedrc
/ava.config.js
/pnpm-lock.yaml
/tsconfig.json
/tsconfig.eslint.json
/tsconfig.build.json
/tsconfig.ava.json
